.Rproj.user
.Rhistory
.RData
.Ruserdata
_bookdown_files/
_pdf_book/
backbone.*
!backbone.png
serv.R
*.Rproj
data/LATEST/
solutions/*_cache
solutions/*_files
.DS_Store
_book_old
CRC_Press_Author_Agreement_9.pdf
Book Proposal Form.doc
Review.txt
CRC
CSwR_cache/
CSwR_files/
Excluded/
build_pdf_book.sh
krantz.cls
Tests/
CSwR.log
_book/
