/* Changing the fonts for the main text and the toc */

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

.book.font-family-0 {
  font-family: 'Roboto Slab', serif;
}

.book.font-family-1 {
  font-family: Roboto, sans-serif;
}

.book .book-summary {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3 {
  color: #46743c;
}

.book .book-summary ul.summary li.active > a,
.book .book-summary ul.summary li a:hover {
  color: #46743c;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #46743c;
}

/* Other conf. */

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
