@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: Roboto, sans-serif;
  font-size: 120%;
}

h1,
h2,
h3 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  color: #46743c;
}

a {
  color: #93c54b;
}

pre {
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  left: 0px;
  width: 100%;
  padding-left: 5px;
}

.mjx-chtml {
  font-size: 110% !important;
}

.remark-code {
  font-size: 100%;
}

.remark-slide-content {
  font-size: 140%;
  padding-top: 0px;
}

.large {
  font-size: 150%;
}

.small {
  font-size: 100%;
}
